.my-footer {
  height: 5em;
  background-color: #163;
  margin-top: 1.5em;
  padding: 1em;
  color: #fafafa;
  font-size: 80%;
}
.room-img {
  max-width: 50%;
}
.datepicker{
  z-index: 10000;
}

.swal2-confirm {
  z-index: 5;
}

.swal2-cancel {
  z-index: 5;
}